// Changing the theme colors
$primary: olive;
$secondary: #3ab7ff;
$success: #65ff9f;
$info: #7164ff;
$warning: #ff9f65;
$danger: #ff457b;
$dark: #18181d; 

@import '../node_modules/bootstrap/scss/bootstrap.scss';
/*WP*/
.alignnone {
    margin: 5px 20px 20px 0;
  }
  
  .aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
  }
  
  .alignright {
    float: right;
    margin: 5px 0 20px 20px;
  }
  
  .alignleft {
    float: left;
    margin: 5px 20px 20px 0;
  }
  
  a img {
    &.alignright {
      float: right;
      margin: 5px 0 20px 20px;
    }
  
    &.alignnone {
      margin: 5px 20px 20px 0;
    }
  
    &.alignleft {
      float: left;
      margin: 5px 20px 20px 0;
    }
  
    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .wp-caption {
    max-width: 96%;
  
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
  
    &.alignnone, &.alignleft {
      margin: 5px 20px 20px 0;
    }
  
    &.alignright {
      margin: 5px 0 20px 20px;
    }
  
    img {
      border: 0 none;
      height: auto;
      margin: 0;
      max-width: 98.5%;
      padding: 0;
      width: auto;
    }
  
    p.wp-caption-text {
      font-size: 11px;
      line-height: 17px;
      margin: 0;
      padding: 0 4px 5px;
    }
  }
  
  .gallery-item {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 50%;
  
    a {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: none;
      display: inline-block;
      max-width: 100%;
  
      &:hover, &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: none;
        display: inline-block;
        max-width: 100%;
      }
  
      img {
        display: block;
        -webkit-transition: -webkit-filter 0.2s ease-in;
        transition: -webkit-filter 0.2s ease-in;
        transition: filter 0.2s ease-in;
        transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
  
      &:hover img, &:focus img {
        -webkit-filter: opacity(60%);
        filter: opacity(60%);
      }
    }
  }
  
  .gallery-caption {
    display: block;
    text-align: left;
    padding: 0 10px 0 0;
    margin-bottom: 0;
  }
  
  .gallery-columns-1 .gallery-item {
    max-width: 100%;
  }
  
  .gallery-columns-2 .gallery-item {
    max-width: 50%;
  }
  
  .gallery-columns-3 .gallery-item {
    max-width: 33%;
  }
  
  .gallery-columns-4 .gallery-item {
    max-width: 25%;
  }
  
  .gallery-columns-5 .gallery-item {
    max-width: 20%;
  }
  
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%;
  }
  
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%;
  }
  
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%;
  }
  
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%;
  }
  
  .gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
    display: none;
  }
  
  .bypostauthor {
    font-weight: bold;
  }
  
  /* Text meant only for screen readers. */
  
  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  
    &:focus {
      background-color: #f1f1f1;
      border-radius: 3px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
      clip: auto !important;
      color: #21759b;
      display: block;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: bold;
      height: auto;
      left: 5px;
      line-height: normal;
      padding: 15px 23px 14px;
      text-decoration: none;
      top: 5px;
      width: auto;
      z-index: 100000;
  
      /* Above WP toolbar. */
    }
  }

  /*Fin WP*/
  
  /*Carousel*/
  #homeCarousel {

	margin-top: 0;
	margin-bottom: 0;
	background-color: #262626;

	.overlay-carousel {
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);

		@media(max-width: 991px) {
			background: rgba(0, 0, 0, 0.5) !important;
		}
	}

	.carousel-indicators li:not(.active) {
		background-color: rgba(150, 150, 150, 0.5);
	}

	.carousel-item {

		h1 {
			max-width: none;
			//letter-spacing: -0.05em;
			//font-weight: normal;
			font-size: calc(3.825rem + 1vw);

			@media (max-width:1367px) {
				font-size: calc(2.325rem + 1vw);
			}

			line-height: 1;
			color: white;
			margin-bottom: .25rem;
		}

		&:not(.fondo-blanco) h1 {

			padding-bottom: 10px;
		}

		h1 span {
			display: block;
		}

		p {
			color: #fff;
			font-size: 1.3rem;
            max-width: 80ch;
			@media (max-width:1367px) {
				font-size: 1.25rem;

			}

			line-height: 1.4;
			font-weight: 300
		}

		&.fondo-blanco {
			background-color: #fff;

			h1 {
				color: $primary;
			}

			p {
				color: inherit;
			}
		}

		p.slider-subtitu {
			font-size: 2em;
			margin-top: 0;
			margin-bottom: 0;
			letter-spacing: -0.03em;
			padding-top: 0;
			font-weight: 400;
			line-height: 1;
		}

		&.fondo-blanco p.slider-subtitu {
			color: $primary;
		}

		>img {
			height: 100%;
		}
	}

	.btn {
		border-width: 2px;
		//padding: .45rem 1.75rem;
		//border-radius: 2rem;
		text-transform: uppercase;

		font-weight: bold;
		@media (max-width: breakpoint-max(lg)) { 
			font-size: 1rem;

		}
	}

	.carousel-control-next,
	.carousel-control-prev {
		color: #69bdf5;
	}
}


#homeCarousel .carousel-item {
	//min-height: 85vh;
	//min-height: calc(100vh - 5.84rem);
	height: 100vh;

	h1 {
		margin-top: 0 !important;
	}

	@media (max-width: 991px) {
		h1 {
			font-size: 3.5em;
			letter-spacing: -0.025em;
		}

		p {
			font-size: 1.1em;
		}
	}

	@media (max-width: 766px) {
		h1 {
			font-size: 3em;
			line-height: .9;
		}


	}

	@media (max-width: 566px) {
		h1 {
			/* font-size: 2.6rem; */
			margin-bottom: 1.5rem;
		}


	}
}







#homeCarousel .carousel-item .carousel-caption {
	z-index: 1;
	bottom: 25%;

	@media (min-width: 1921px) {
		bottom: 33%;
	}

	h1,
	p {
		text-align: left;
	}

}



@media (max-width: 1679px) {
	#homeCarousel .carousel-item .carousel-caption .row {
		max-width: 94%;
		margin-left: auto;
		margin-right: auto;
	}
}

.cont-slider {
	//margin: 0 auto;
	//background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.65) 50%, rgba(255, 255, 255, 0) 90%);
	padding-top: 0;
	//padding-bottom: 2rem;
	max-width: 42em;

	//p { max-width: 600px;}
}



@media (max-width: 576px) {
	.cont-slider p:first-child {
		display: none;
	}
}


/*Fin carousel*/

/*Footer*/
footer {
  border-top: 1px solid #ccc;
}
/*Fin Footer*/